<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="/stylesheets/turtle-style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/shariff.complete.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel="stylesheet" type='text/css'>
    <title>Shaidil does a Habitica challenge - {{ page.title }}</title>
  </head>
  <body>
    <h2 id="intro">Challenge Intro</h2>
    <p>
      This page will contain the reports on what I've learned by
      following a <a href="https://habitica.com/#/options/groups/challenges/0ae0b003-b67e-4665-becf-43554d80b990">challenge</a>
      posted on Habitica, with a provisional curriculum found
      <a href="https://docs.google.com/spreadsheets/d/1G9PeKumI-zVTt8ot35_v9OTQ5PGnJmkKVxfyC-9YiHU/edit?usp=sharing">here</a>.<br>
      I'm taking a look at one amusing research paper per day and reporting on
      it in short lines.<br>
      Find out more about me on the
      <a href="http://happyturtlethings.net">main page</a>;
      contact me through <a href="mailto:happyturtlethings@gmail.com">e-mail</a>.
    </p>
<a href="{{page.url}}"><h2 id="{{ page.short }}" >{{ page.title }}</h2></a>
    {{ content }}
    <div class="shariff" data-lang="en" data-theme="grey" data-twitter-via="Turtle_Things" data-services="[&quot;twitter&quot;,&quot;facebook&quot;,&quot;reddit&quot;]" data-title="{{ post.title }}" data-url="http://happyturtlethings.com/{{ page.url }}"></div>
    <a href="/post.html">back to all posts</a>
    <script src="/javascripts/shariff.complete.js"></script>
  </body>
</html>
